* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #0f0f0f;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    background-color: #292727;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  header .logo {
    font-size: 20px;
    font-weight:bold;
  }
  
  header input {
    width: 250px;
    padding: 6px 10px;
    border-radius: 35px;
    border: none;
    background-color: #080808;
    color: rgb(255, 255, 255);
  }
  
.descricao{
  color: rgb(255, 255, 253);
}

  .pagina-reprodução {
    display: flex;
    padding: 20px;
    gap: 20px;
  }
  
  .video-principal {
    flex: 3;
  }
  
  .framevideo img {
    width: 100%;
    border-radius: 25px;
  }
  
  .video-principal h1 {
    margin-top: 15px;
    font-size: 20px;
  }
  
  .video-principal p {
    font-size: 14px;
    color: #aaa;
    margin-top: 5px;
  }
  
  .sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .sugestao {
    display: flex;
    gap: 10px;
    cursor: pointer;
  }
  
  .sugestao img {
    width: 150px;
    height: 85px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .nomedovideo h3 {
    font-size: 13px;
    margin-bottom: 5px;
  }
  
  .nomedovideo p {
    font-size: 12px;
    color: #bbb;
  }
  